# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Datasets
data/
DogFLW/
pet_biometric_challenge_2022/
pet_biometric_available/
pet_biometric_clean/

# Generated model/features
models/
features/

# Environment variables
.env